*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #30FEC5;
}

main {
    display: inline-block;
    padding: 15px;
}

.pokedex {
    width: 100%;
}

.pokemon-imagem {
    position: absolute;
    bottom: 52%;
    left: 38%;
    transform: translate(-63% 20%);
    height: 18%;
}

.pokemon-data {
    position: absolute;
    font-weight: bold;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 3vw, 25px);
}

.pokemon-nome {
    color: black;
    text-transform: capitalize;
}

.form {
    position:absolute;
    width: 65%;
    top: 65%;
    left: 14%;
}
.input-search {
    width: 100%;
    padding: 5%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.botoes {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-30%, 0);
}
